<nav class="navbar navbar-expand-lg" style="background-color: darkgreen">
<#--
    <h2 style="color: white; margin: 1%; width: 100%; text-align: center;" class="float-centre">WEB PAY</h2>
-->

    <div class="navbar-header">
        <#--button type="button" class="navbar-toggle" data-toggle=""
                data-target="">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>-->
        <a class="navbar-brand logo-v1 scroll-top hidden-xs" href="/">
            <img src="${contextPath!""}/assets/images/gics_logo.png" id="logoimg"
                 style="width: 390px" alt="GICS-Logo" title="Go to GICS Homepage"
                 class="">
        </a>

        <!--Mobile Logo-->
        <#--<a class="navbar-brand logo-v1 logo-new visible-xs" href="/">
            <img style="margin-left: 50px;"
                 src="/assets/images/mobile-logo2.png" alt="GICS-Logo"
                 title="Go to GICS Homepage" class="">
        </a>-->

    </div>
</nav>