<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "RemittaNotification">
<div class="container mt-5 mb-5 card col-md-10">

    <div id="errorDiv" class="alert alert-primary" role="alert">
       <p id="errorMessage"></p>
    </div>
    <form class="row m-5" action="" method="post">
        <div class="form-group col-md-5">
            <label>RRR</label>
            <input type="text" class="form-control" id="rrr"
                   placeholder="Enter merchant reference" name="rrr" required>
        </div>
        <div class="form-group col-md-5">
            <label>Amount</label>
            <input type="text" class="form-control" id="amount"
                   placeholder="Enter Amount" name="amountToBePaid" required>
            <input type="hidden" class="form-control" name="type" value="ar" required>
        </div>

        <div class="form-group col-md-5">
            <label>Payer Name</label>
            <input type="text" class="form-control" id="payerName"
                   placeholder="Payer Name" name="payerName" required>
            <input type="hidden" class="form-control" name="type" value="ar" required>
        </div>


        <div class="form-group col-md-5">
            <label>Payer Email</label>
            <input type="text" class="form-control" id="payerEmail"
                   placeholder="Payer Email" name="email" required>
            <input type="hidden" class="form-control" name="type" value="ar" required>
        </div>


        <div class="form-group col-md-5">
            <label>Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber"
                   placeholder="Payer Phone Number" name="phoneNumber" required>
            <input type="hidden" class="form-control" name="type" value="ar" required>
        </div>

        <div class="form-group col-md-2" style="margin-top: 28px">
            <button type="button" class="btn  btn-outline-success  col-12" id="payForm"> Make Payment</button>
        </div>
    </form>
    <hr>

    <script>

        $(document).ready(function () {
            $("#validating").hide();
            $("#paying").hide();
            $("#errorCust").hide();
            $("#errorPay").hide();
            $("#errorDiv").hide();





            $("#payForm").on('click',function () {
                // alert("submitted");
                pay();
                return false;
            });
        });


        function pay() {
            $("#paying").show();
            $("#errorPay").hide();
            var rrr = $("#rrr").val();
            var amount = $("#amount").val();
            var name = $("#payerName").val();
            var email = $("#payerEmail").val();
            var phoneNumber = $("#phoneNumber").val();

            var data = {
                rrr: rrr,
                amount: amount,
                phoneNumber: phoneNumber,
                email: email,
                name: name

            };

            var url = window.contextPath + "/api/v1/payments/remitta/bank/sand-box/notify";

            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (data) {

                    console.log(data)
                    if(data === 404){
                        // cannot be found
                        $("#errorDiv").show();
                        $("#errorMessage").text("Remita Payment Reference Does not exist");
                    }

                    if(data === "OK"){
                        // Every thing is ok
                        $("#errorDiv").show();
                        $("#errorMessage").text("Payment Has been successfully Made");

                    }

                    if(data == "not ok"){
                        // Payment was not succesful
                        $("#errorDiv").show();
                        $("#errorMessage").text("There was an error making payment please try again later");
                    }

                },
                error: function (xhr, status) {
                    $("#paying").hide();
                    var error = xhr.responseJSON ? xhr.responseJSON.errorMessage : "An unknown error occurred";
                    alert(error)
                }
                ,
                complete: function (xhr, status) {
                    //$('#showresults').slideDown('slow')
                }
            })
        }


    </script>
</@layout.myLayout>