<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Interswitch">

<div class="container fill mt-5 mb-5">
    <div class="row">
        <form class="col-md-12 mt-5" id="assForm" action="" method="get">
            <#if (flash.error)??>
                <div class="alert alert-danger">
                ${flash.error}
                </div>
            </#if>
            <div class="col-12">
                <label>Assessment reference or service bill</label>
                <input type="text" class="form-control" id="ref" value="${(tid)!""}"
                       placeholder="Enter assessment reference or service bill" name="transactionId" required>
                <input type="hidden" class="form-control" name="type" value="ar" required>
            </div>
        </form>
        <div class="col-12 mt-3">
            <div class="row p-2">
                <div class="col-6">
                    <a href="/interswitch/poa">Pay on account?</a>
                </div>
                <div class="col-6 text-right">
                    <button class="btn btn-success float-right" type="submit" id="proceed" form="assForm">Proceed
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-5" style="margin-top: 10%">
            <#if data??>
                <table class="table table-striped">
                    <tbody>
                        <#list data.customers.customers  as customer>
                        <tr>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>${(customer.firstName)!""}</td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td><b style="color: darkred">&#8358;${(customer.amount)?string(",##0.00")!""}</b></td>
                        </tr>
                        </#list>
                    </tbody>
                </table>
                <hr class="mt-4">
                <#list data.customers.customers  as customer>
                    <br>
                    <form action="/interswitch" method="post" class="row">
                        <input type="hidden" value="${(customer.custReference)!""}" class="form-control"
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp"
                               placeholder="Enter transaction reference" name="transactionId" required>
                        <input type="hidden" value="${(customer.paymentItems.items[0].productCode)!""}"
                               class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="Enter transaction reference" name="itemCode" required>
                        <input type="hidden" value="notification" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp"
                               placeholder="Enter transaction reference" name="type" required>
                        <div class="form-group col-md-8">
                            <label for="exampleInputAmount">Enter amount to pay (&#8358;)</label>
                            <input type="text" class="form-control" id="exampleInputAmount"
                                   aria-describedby="emailHelp" pattern="[0-9]+\.?[0-9]+"
                                   placeholder="Enter amount" name="amount" required>
                        </div>
                        <div class="form-group col-md-4 mt-4 p-1">
                            <button type="submit" class="btn btn-success col-12">
                                Post
                            </button>
                        </div>
                    </form>
                </#list >
            </#if>

        </div>

    </div>
</div>
<script>
    //    $(document).ready(function () {
    //        $("#proceed").click(function () {
    //            var tid = $("#ref").val();
    //            $.ajax({
    //                url: "/interswitch?transactionId=" + tid + "&type=ar",
    //                type: "GET",
    //                dataType: "json",
    //                success: function (data) {
    //                    console.log(data);
    //                },
    //                error: function (xhr, status) {
    //                    alert("Sorry, there was a problem!");
    //                },
    //                complete: function (xhr, status) {
    //                    //$('#showresults').slideDown('slow')
    //                }
    //            });
    //        })
    //    });
</script>
<#--<form action="" method="get">-->
<#--<div class="form-group">-->
<#--<label for="exampleInputEmail1">Transaction reference<span style="color: darkred">*</span></label>-->
<#--<input type="text" value="${(data.customers.customers[0].custReference)!""}" class="form-control"-->
<#--id="exampleInputEmail1" aria-describedby="emailHelp"-->
<#--placeholder="Enter transaction reference" name="transactionId" required>-->
<#--<input type="hidden" value="validation" class="form-control" id="exampleInputEmail1"-->
<#--aria-describedby="emailHelp"-->
<#--placeholder="Enter transaction reference" name="type" required>-->
<#--</div>-->
<#--<button type="submit" class="btn btn-success btn-lg float-right">CONTINUE</button>-->
<#--</form>-->
<#--<div style="margin-top: 10%">-->
<#--<#if data??>-->
<#--<table class="table table-striped">-->
<#--<tbody>-->
<#--<#list data.customers.customers  as customer>-->
<#--<tr>-->
<#--</tr>-->
<#--<tr>-->
<#--<th>First Name</th>-->
<#--<td>${(customer.firstName)!""}</td>-->
<#--</tr>-->
<#--<tr>-->
<#--<th>Last Name</th>-->
<#--<td>${(customer.lastName)!""}</td>-->
<#--</tr>-->
<#--<tr>-->
<#--<th>Email</th>-->
<#--<td>${(customer.email)!""}</td>-->
<#--</tr>-->
<#--<tr>-->
<#--<th>Phone</th>-->
<#--<td>${(customer.phone)!""}</td>-->
<#--</tr>-->
<#--<tr>-->
<#--<th>Amount</th>-->
<#--<td>${(customer.amount)!""}</td>-->
<#--</tr>-->
<#--</#list>-->
<#--</tbody>-->
<#--</table>-->
<#--<#list data.customers.customers  as customer>-->
<#--<br>-->
<#--<form action="" method="post">-->
<#--<input type="hidden" value="${(customer.custReference)!""}" class="form-control"-->
<#--id="exampleInputEmail1"-->
<#--aria-describedby="emailHelp"-->
<#--placeholder="Enter transaction reference" name="transactionId" required>-->
<#--<input type="hidden" value="${(customer.paymentItems.items[0].productCode)!""}"-->
<#--class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"-->
<#--placeholder="Enter transaction reference" name="itemCode" required>-->
<#--<input type="hidden" value="notification" class="form-control" id="exampleInputEmail1"-->
<#--aria-describedby="emailHelp"-->
<#--placeholder="Enter transaction reference" name="type" required>-->
<#--<div class="form-group form-inline">-->
<#--<label for="exampleInputAmount">Enter amount<span class="text-danger">*</span></label>-->
<#--<input type="text" value="${(customer.amount)!""}" class="form-control" id="exampleInputAmount"-->
<#--aria-describedby="emailHelp"-->
<#--placeholder="Enter transaction reference" name="amount" required>-->
<#--<button type="submit" class="btn btn-success btn-lg float-right">-->
<#--Pay-->
<#--</button>-->
<#--</div>-->
<#--</form>-->
<#--</#list >-->
<#--</#if>-->

<#--</div>-->
</@layout.myLayout>