<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
</head>
<body>
<#if success??>
<div style="width: 100%; padding: 2%;">
    <h2 class="text-success text-center" style="margin-top: 20px;"><b>TRANSACTION SUCCESSFUL</b></h2>
    <p style="margin-top: 20px" class="text-center">Your payment of <b>&#8358;${(amount/100)?string(",##0.00")!""}</b>
        was
        successful</p>
    <p class="text-center">
        <small>You will be redirected in a bit...</small>
    </p>
</div>
<script type="text/javascript">
    var successUrl = '${(successUrl)!""}';
    setTimeout(function () {
        window.top.postMessage({success: true, amount: '${(amount)!"0"}', redirect: successUrl}, '*');
    }, 3000);
</script>
</#if>
<#if fail??>
<div style="width: 100%; padding: 2%;">
    <h2 class="text-danger text-center" style="margin-top: 20px;"><b>TRANSACTION FAILED</b></h2>
    <p style="margin-top: 20px" class="text-center">Your transaction failed with the following message: <br>
        <em>${(why)!""}</em>
    </p>
    <p class="text-center">
        <small>You will be redirected in a bit...</small>
    </p>

<#--<p class="text-center">-->
<#--<button class="btn btn-success" onclick="reload()">Retry</button>-->
<#--</p>-->
<#--<small class="text-center">Your payment of &#8358; ${(amount)!""} was successful</small>-->
</div>
<script type="text/javascript">
    var failUrl = '${(failUrl)!""}';
    setTimeout(function () {
        window.top.postMessage({success: false, why: '${(why)!""}', redirect: failUrl}, '*');
    }, 4000);
</script>
</#if>
<script>
    function redirect(url) {
        window.top.location.href = url;
    }

    function reload() {
        var curl = window.top.location.href;
        window.top.location.href = curl;
    }

    function back() {
        window.top.back();
    }

    function insertParam(key, value, url) {
        key = encodeURI(key);
        value = encodeURI(value);

        var kvp = url.substr(1).split('&');

        var i = kvp.length;
        var x;
        while (i--) {
            x = kvp[i].split('=');

            if (x[0] == key) {
                x[1] = value;
                kvp[i] = x.join('=');
                break;
            }
        }

        if (i < 0) {
            kvp[kvp.length] = [key, value].join('=');
        }

        return kvp.join('&');
    }

</script>
</body>
</html>